'.source.python.mamba':
  'Describe String':
    'prefix': 'dess'
    'body': "with describe('${1:description}'):\n    ${0:pass}"
  'Describe Object':
    'prefix': 'deso'
    'body': "with describe(${1:object}):\n    ${0:pass}"
  'Description String':
    'prefix': 'desns'
    'body': "with description('${1:description}'):\n    ${0:pass}"
  'Description Object':
    'prefix': 'desno'
    'body': "with description(${1:object}):\n    ${0:pass}"
  'Pending Describe String':
    'prefix': '_dess'
    'body': "with _describe('${1:description}'):\n    ${0:pass}"
  'Pending Describe Object':
    'prefix': '_deso'
    'body': "with _describe(${1:object}):\n    ${0:pass}"
  'Pending Description String':
    'prefix': '_desns'
    'body': "with _description('${1:description}'):\n    ${0:pass}"
  'Pending Description Object':
    'prefix': '_desno'
    'body': "with _description(${1:object}):\n    ${0:pass}"
  'Context':
    'prefix': 'conx'
    'body': "with context('${1:context}'):\n    ${0:pass}"
  'Pending Context':
    'prefix': '_conx'
    'body': "with _context('${1:context}'):\n    ${0:pass}"
  'Before All':
    'prefix': 'befa'
    'body': 'with before.all:\n    ${0:pass}'
  'Before Each':
    'prefix': 'befe'
    'body': 'with before.each:\n    ${0:pass}'
  'After All':
    'prefix': 'afta'
    'body': 'with after.all:\n    ${0:pass}'
  'After Each':
    'prefix': 'afte'
    'body': 'with after.each:\n    ${0:pass}'
  'Example':
    'prefix': 'it'
    'body': "with it('${1:example}'):\n    ${0:pass}"
  'Pending Example':
    'prefix': '_it'
    'body': "with _it('${1:example}'):\n    ${0:pass}"
